<div class="ingreso">
    <h2 class="ingreso_titulo">Ingresos</h2>

    <div class="elemento limpiarEstilos" *ngFor="let i of ingresos" >
        <div class="elemento_descripcion">{{i.descripcion}}</div>
        <div class="right limpiarEstilos">
            <div class="elemento_valor">+ {{i.valor| currency:'':'$':'1.2-2'}}</div>
            <div class="elemento_eliminar">
                <button class="elemento_eliminar--btn">
                    <i class="ion-ios-close-outline" (click)="eliminarIngresos(i)">Ⓧ
                    </i>
                </button>
            </div>
        </div>
    </div>