<div class="egreso">
    <h2 class="egreso_titulo">Egresos</h2>
    <div class="elemento limpiarEstilos" *ngFor="let i of egresos">
        <div class="elemento_descripcion">{{i.descripcion}}</div>
        <div class="right limpiarEstilos">
            <div class="elemento_valor">- {{i.valor | currency:'':'$':'1.2-2'}}</div>
            <div class="elemento_porcentaje">{{calcularPorcentaje(i)|percent}}</div>
            <div class="elemento_eliminar">
                <button class="elemento_eliminar--btn"><i class="ion-ios-close-outline"
                        (click)="eliminarEgreso(i)">Ⓧ</i></button>
            </div>
        </div>